  body{
   background-color: #000000;
   padding: 0px;
   margin: auto 0px;
 }

#gradient {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: absolute;
}

header {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  color: #FFFFFF;
  position: relative;
  text-align: center;
  padding-top: 100px;


}

#bday-container {
  font-family: 'Anton', sans-serif;
  font-size: 500px;
  color: #FFFFFF;
  position: relative;
  text-align: center;
  margin: -80px;
}